<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password required</title>
    <link rel="stylesheet" href="/main.css">
    <script src="/navigation.js" defer></script>
</head>

<body>
    <div id="mainDiv">
        <div id="topbar">
            <h3 id="pageName">
                <%= displayname %>
            </h3>
            <div id="loggedInAs">
                <img class="avatar"
                    src="https://cdn.discordapp.com/avatars/<%= discordData.id %>/<%= discordData.avatar %>.png" alt="">
                <%= discordData.username %>#<%= discordData.discriminator %> <a href="/logout">Log out</a>
            </div>
        </div>

        <div id="mainContent">
            <nav>
                <ul>
                    <li><button>Insert password</button></li>
                </ul>
            </nav>
            <div id="content">

                <div id="p_insert_password">
                    <h1 style="margin-bottom: 0;">One time login is required to continue</h1>
                    <h3 style="margin-top: 0;">Trying to access <%= displayname %>
                    </h3>

                    <form action="/api/<%= api %>/login" method="POST">
                        <input type="hidden" name="contestname" value="<%= name %>">
                        <label for="password">Password: </label> <input type="password" name="password"><br>
                        <button type="submit">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>

</html>